<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>用户修改</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>

    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        添加用户信息
                    </header>
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="addForm" name="addForm" method="get" action="">

                                <div class="form-group ">
                                    <label for="uid" class="control-label col-lg-2">用户id</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="uid" type="text" value=""
                                               name="uid"  required="required" placeholder="请输入id" pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$" title="请输入正确的用户id"/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="username" class="control-label col-lg-2">用户名</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="username" type="text"
                                               value="" name="username" required="required"  pattern="^[a-zA-Z0-9_]{4,16}$" placeholder="用户名为4到16位（字母，数字，下划线）" title="请输入正确的用户名"/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="rid" class="control-label col-lg-2">用户角色</label>
                                    <div class="col-lg-5">
                                        <div class="col-lg-5">
                                            <select id="rid" th:name="rid" class="required" >
                                                <option th:value="0">请选择角色</option>
                                                <option th:each="role:${roleList}"
                                                        th:text="${role.rolename}"
                                                        th:value="${role.rid}"
                                                        th:selected="${role.rid==user.rid}"
                                                ></option>
                                            </select>
                                        </div>
                                        <p id="msg" class="col-lg-5" style="color: #E81A29FF" th:text="${msg}">

                                        </p>
                                    </div>

                                </div>
                                <div  class="form-group" id="grade-display" style="display:none;" >
                                    <label for="grade" class="control-label col-lg-2">班级</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="grade" type="text" value=""
                                               name="grade"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" ng-disabled="addForm.all.$error.required" type="button"  onclick="addUser();">保存
                                        </button>
                                        <button class="btn btn-primary" type="button" onclick="goBackHTML();">返回
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>
    <!--body wrapper end-->
</section>


<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script src="js/validation-init.js"></script>
<script type="text/javascript">
    $("#rid").bind("click",function(){
       if($("#rid").val()=="1"){
           $("#grade-display").css("display","block");
       }else{
        $("#grade-display").css("display","none");}
    });
    function goBackHTML() {
        //返回用户列表界面
        $.ajax({
            url: "/user_list",
            type: "get",
            dataType: "html",
            success: function (ht) {
                $("#right").html(ht);  //请求的界面数据在右侧显示
            },
            error: function (ht) {
                alert("未知异常");
                $("#right").html("加载失败", ht);  //请求的界面数据在右侧显示
            }
        });
    }

    function addUser() {
        // $("#uid").attr("readonly","false");
        if ($("#rid").val() == 0) {
            $("#msg").text("请选择角色")
        } else {
            console.log("表单数据为："+$("#addForm").serialize())
            $.ajax({
                url: "/add_user",
                type: "post",
                data: $("#addForm").serialize(),
                dataType: "html",
                success: function (ht) {
                    $("#right").html(ht);  //请求的界面数据在右侧显示
                },
                error: function (ht) {
                    alert("未知异常");
                    $("#right").html("加载失败", ht);  //请求的界面数据在右侧显示
                }
            });
        }
    }
</script>
</body>
</html>
