<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.thymeleaf.org/hymeleaf-extras-shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>用户列表</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>

    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>

    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        [[${user.uid}]]用户列表
                        <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="dynamic-table">
                                <thead>
                                <tr>
                                    <th><input style="height: auto;" type="checkbox" id="checkAll"/></th>
                                    <th>用户id</th>
                                    <th>用户名</th>
                                    <th class="hidden-phone">用户角色</th>
                                    <th class="hidden-phone">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user:${pageInfo.list}" class="gradeX">
                                    <td class="center num">
                                        <input style="height: auto;" name="uid" type="checkbox" th:value="${user.uid}"/>
                                    </td>
                                    <td class="  sorting_1" th:text="${user.uid}">uid</td>
                                    <td class="name" th:text="${user.username}">username</td>
                                    <td class="name" th:if="${user.role.rolename eq '学生'}"  th:text="${user.grade+user.role.rolename}"></td>
                                    <td class="name" th:if="${user.role.rolename ne '学生'}"  th:text="${user.role.rolename}"></td>
                                    <td class="center operate"  shiro:hasPermission="管理员">
                                        <a href="javascript:;"  data-skip-view="/detail_user" th:value="${user.uid}"  onclick="operateUser(this)">查看详情</a>&nbsp;&nbsp;
                                        <a href="javascript:;"  data-skip-view="/update_user" th:value="${user.uid}"  onclick="operateUser(this)">修改</a>&nbsp;&nbsp;
                                        <!-- <a th:href="@{/deleteUser(uid=${user.uid})}">删除</a>-->
                                        <!-- javascript:是伪协议，表示url的内容通过javascript执行。-->
                                        <a href="javascript:;" data-skip-view="/delete_user" th:value="${user.uid}"  onclick="operateUser(this)">删除</a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th><input style="height: auto;" type="checkbox" id="checkAll"/></th>
                                    <th>用户id</th>
                                    <th>用户名</th>
                                    <th class="hidden-phone">用户角色</th>
                                    <th class="hidden-phone">操作</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
    <!--body wrapper end-->
</section>
<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>

<script>

    function operateUser(obj) {
        var href = $(obj).attr("data-skip-view"); //获取请求的url
        var uid = $(obj).attr("value");//获取uid
        // var data = {"viewName": pageName};
        var deleteOK=true;
        if(href=="/delete_user"){
           deleteOK=confirm("确定操作？");
        }
        if (deleteOK) {
            //ajax 请求
            $.ajax({
                url: href,
                type: "post",
                data: "uid=" + uid,
                dataType: "html",
                success: function (ht) {
                    if(href=="/delete_user"){
                        alert("删除【"+uid+"】成功");
                    }
                    $("#right").html(ht);  //请求的界面数据在右侧显示
                },
                error: function (ht) {
                    alert("未知异常");
                    $("#right").html("加载失败", ht);  //请求的界面数据在右侧显示
                }
            });

        }
    }
</script>
</body>
</html>
