<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.thymeleaf.org/hymeleaf-extras-shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Registration</title>

    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" id="formData"
          action="#">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title" style="color: #1b2128">用户信息</h1>
        </div>
        <div class="login-wrap">
            <p>个人信息</p>
            <div class="form-group ">
                <label for="uid" class="control-label col-lg-2"
                       style="padding: unset">用户id</label>
                <div class="col-lg-10" style="padding-left: 5px">
                    <input type="text" autofocus="" placeholder="用户id" th:value="${uData.uid}" id="uid" name="uid"
                           readonly="readonly" class="form-control"></div>
            </div>
            <div class="form-group ">
                <label for="username" class="control-label col-lg-2" style="padding: unset">用户名</label>
                <div class="col-lg-10" style="padding-left: 5px">
                    <input type="text" autofocus="" placeholder="用户名" th:value="${user.username}" id="username"
                           name="username"
                           class="form-control">
                </div>
            </div>
            <div class="form-group ">
                <label for="userdescribe" class="control-label col-lg-2" style="padding: unset">个人描述</label>
                <div class="col-lg-10" style="padding-left: 5px">
            <textarea class="form-control " placeholder="个人描述" id="userdescribe" th:value="${uData.userdescribe}"
                      name="userdescribe" required></textarea>
                </div>
            </div>
            <div class="form-group " th:if="${user.role.rolename eq '学生'}">
                <label for="grade" class="control-label col-lg-2" style="padding: unset">班级</label>
                <div class="col-lg-10" style="padding-left: 5px">
                    <input  type="text" id="grade" autofocus="" placeholder="班级"
                            th:value="${user.grade}" name="grade" required class="form-control">
                </div>
            </div>
            <div class="form-group ">
                <label for="usersalary" class="control-label col-lg-2" style="padding: unset">账户余额</label>
                <div class="col-lg-10" style="padding-left: 5px">
                    <input type="text" autofocus="" placeholder="账户余额" id="usersalary" th:value="${uData.usersalary}"
                           name="usersalary" readonly="readonly" class="form-control">
                </div>
            </div>
            <div class="form-group ">
                <label for="usersalary" class="control-label col-lg-2" style="padding: unset">性别</label>
                <div class="radios col-lg-10">
                    <label for="usersex1" class="label_radio col-lg-6 col-sm-6">
                        <input type="radio" th:checked="${uData.usersex=='男'}" value="男" checked=""
                               id="usersex1" name="usersex"> 男
                    </label>
                    <label for="usersex2" class="label_radio col-lg-6 col-sm-6">
                        <input type="radio" th:checked="${uData.usersex=='女'}" value="女" id="usersex2"
                               name="usersex"> 女
                    </label>
                </div>
            </div>
            <!--            <p>输入您的帐户详细信息如下</p>-->
            <!--            <input type="password" placeholder="密码" class="form-control">-->
            <!--            <input type="password" placeholder="确认密码" class="form-control">-->
            <!--            <label class="checkbox">-->
            <!--                <input type="checkbox" value="agree this condition"> 我同意服务条款和隐私政策-->
            <!--            </label>-->
            <!--            <button type="submit" class="btn btn-lg btn-login btn-block">-->
            <!--                <i class="fa fa-check"></i>-->
            <!--                -->
            <!--            </button>-->
            <div class="form-group">
                <div class="col-lg-offset-2">
                    <button class="btn btn-primary" type="button" onclick="updatePerson();">保存</button>
                    <a href="main.html" class="btn btn-primary" type="button">返回</a>
                    <p id="msg"  style="color: #E81A29FF" th:text="${msg}"></p>
                    <!--                                            <a href="/update_person" class="btn btn-primary" type="button" onclick="updateUser();">保存</a>-->
                </div>
            </div>

            <!--            <div class="registration">-->
            <!--                已经注册。-->
            <!--                <a href="login.html" class="">-->
            <!--                    去登陆-->
            <!--                </a>-->
            <!--            </div>-->

        </div>

    </form>

</div>
<script type="text/javascript">
    function updatePerson(){
        console.log("form="+$("#formData").serialize());
        //返回用户列表界面
        $.ajax({
            url: "/update_person",
            type: "post",
            data: $("#formData").serialize(),
            dataType: "html",
            success: function (ht) {
                $("#right").html(ht);  //请求的界面数据在右侧显示
            },
            error: function (ht) {
                alert("未知异常");
                $("#right").html("加载失败", ht);  //请求的界面数据在右侧显示
            }
        });
    }
</script>
</body>
</html>
